<article>
  <div>
 
  
        <button (click)="selectOption"> What should I do? </button>
        <!-- <app-desicion [option]="seletctOption" /> -->
        <p *ngIf="isDisabled; else prompt">
            {{selectOption }}
        </p>
       
          <ng-template #prompt>
         <p></p>
          </ng-template>
     <!-- <p><strong>{{ seletctOption}}</strong></p> -->
    </div>
    <div>
        <h3>Your option</h3>
      <app-options />
    </div>
    <div>
      <app-add-option   />
    </div>
</article>