<article>
  <div>
 
  
        <button (click)="selectOption()" [disabled]="isDisabled"> What should I do? </button>
        <button (click)="resetSelection()" *ngIf="isDisabled">Reset Selection</button>
        <!-- <app-desicion [option]="seletctOption" /> -->
        <p *ngIf="isDisabled; else prompt">
            {{ selectedOption }}
        </p>
        <p *ngIf="!isDisabled">No option selected yet.</p>
          <ng-template #prompt>
         <p></p>
          </ng-template>
     <!-- <p><strong>{{ seletctOption}}</strong></p> -->
    </div>
    <div>
        <h3>Your option</h3>
      <app-options />
    </div>
    <div>
      <app-add-option   />
    </div>
  
</article>