<article>
    <!-- <header>
        <img src="asserts/indecision.png" />
        <h2>Indecision</h2>
    </header> -->
  <!-- <app-dashbord-item [title]="Indecision" [image]="{[scr]= 'asserts/indecision.png' [alt]='indecision'}"/> -->
    <div>
        <button> What should I do?</button>
    </div>
    <div>
        <h3>Your option</h3>
        <ul>
            <li>work for job</li>
            <li>Cooking</li>
            <li>watching</li>
        </ul>
    </div>
    <div>
        <input />
        <button>add option</button>
    </div>
</article>