<main>
   <app-header />
    <div class="container">
    <article>
       <app-indecision />
    </article>
    <article>
        <app-cooking-decision />
    </article>
    <article>
        <header>
            <h2>New Ideas</h2>
        </header>
       
        <div>
            <h3>Your List</h3>
            <ul>
                <li></li>
                <li></li>
               
            </ul>
        </div>
        <div>
            <input />
            <button>add option</button>
        </div>
    </article>
</div>
</main>