<main>
   <app-header />
    <div class="container">
    <article>
        <header>
            <h2>Indecision</h2>
        </header>
        <div>
            <button> What should I do?</button>
        </div>
        <div>
            <h3>Your option</h3>
            <ul>
                <li>work for job</li>
                <li>Cooking</li>
                <li>watching</li>
            </ul>
        </div>
        <div>
            <input />
            <button>add option</button>
        </div>
    </article>
    <article>
        <header>
            <h2>Cooking List</h2>
        </header>
        <div>
            <button> What should I do?</button>
        </div>
        <div>
            <h3>Your option</h3>
            <ul>
                <li>dal-rice</li>
                <li>khichadi</li>
                <li>Shark-rotli</li>
            </ul>
        </div>
        <div>
            <input />
            <button>add option</button>
        </div>
    </article>
    <article>
        <header>
            <h2>New Idea</h2>
        </header>
       
        <div>
            <h3>Your List</h3>
            <ul>
                <li></li>
                <li></li>
               
            </ul>
        </div>
        <div>
            <input />
            <button>add option</button>
        </div>
    </article>
</div>
</main>