<main>
    <app-header />
    <!-- <div class="dashbord">
        
        <app-dashbord-item  [image]="imageIndecision" title="Indecision">

            <app-indecision />

        </app-dashbord-item>
        <app-dashbord-item  [image]="imageCooking" title="Cooking decision">

            <app-cooking-decision />

        </app-dashbord-item>
        <app-dashbord-item  [image]="imageIdea" title="New Ideas">

            <app-new-ideas />

        </app-dashbord-item> -->
    <!-- </div> -->
</main>